<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
    <head>
        <meta charset="UTF-8">
        <title>List of Pet Owners</title>
        <link th:href="@{/resources/styles/main.css}" rel="stylesheet" />
    </head>
    <body>
    <h2 th:text="'List of Vets'">Lit of Vets...</h2>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Joe</td>
            <td th:text="${vet.lastName}">Mama</td>
        </tr>
    </table>
    </body>
</html>